.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.body-container .bodySection {
  margin-top: 25px;
}

.boldText {
  font-weight: bold;
  color: black;
}

.normalText {
  color: #787F83;
}

.ratingIcon {
  display: flex;
  height: 15px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  background-color: #880B0B;
  margin-right: 5px;

  & .star {
    margin-left: 2px;
    font-size: 12px;
    align-items: center;
  }
}

#scoreText {
  font-size: 15px;
}

.restuarantOpen {
  color: rgb(2, 195, 2);
}

.restuarantClose {
  color: red;
}

.restuarantCaption {
  color: aqua;
}

.linkText {
  color: #0093EC;
}

.underLineText:hover {
  text-decoration: underline;
}

.secondContentWrapper {
  display: flex;
  flex-direction: row;
}

#bookMarkIcon {
  width: 30px;
  height: 27px;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
}