.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  width: 100vw;
  column-gap: 15px;
}

.bodySection {
  margin-top: 25px;
}

.boldText {
  font-weight: bold;
  color: black;
}

.normalText {
  color: #787F83;
}

.ratingIcon {
  display: flex;
  height: 15px;
  align-items: center;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  padding: 1px 5px;
  background-color: #880B0B;
  margin-right: 5px;
  width: max-content;
}

.restuarantOpen {
  color: rgb(2, 195, 2);
}

.restuarantClose {
  color: red;
}

.restuarantCaption {
  color: aqua;
}

.linkText {
  color: #0093EC;
}