.headLiner-container {
  height: 110px;
  background-color: white;
}

.headLiner-text-container {
  margin: 20px 0 20px 175px;

  & a {
    color: #A9A6A9;
  }

  & a:hover {
    text-decoration: underline;
  }

  & :is(a, span) {
    font-size: 18px;
  }

  & p {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
  }

}

.hl {
  color: black;
}