.headLiner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  background-color: white;
}

.headLiner-text-container {
  margin-left: -750px;

  & a,
  .slash {
    color: #A9A6A9;
    padding-right: 5px;
  }

  & a:hover {
    text-decoration: underline;
  }

  & :is(a, span) {
    font-size: 18px;
  }

  & p {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
  }

}

.hl {
  color: black;
}