.headLiner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105px;
  background-color: white;
  width: 100vw;
}


.headLiner-text-container {
  margin-left: -785px;

  & a,
  .slash {
    color: #A9A6A9;
  }

  & a:hover {
    text-decoration: underline;
  }

  & :is(a, span) {
    font-size: 20px;
  }

  & p {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
  }
}

.linkTextGroup :is(a, .slash) {
  padding-right: 5pt;
}

.hl {
  color: black;
}