.header-container {
  height: 79px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #E9ECEE;
}

.wongnai-logo {
  width: 118px;
  margin-top: 2px;
  height: 48px;
  margin-right: 37px;
}

.header-center-container {
  display: flex;
  margin-right: 25px;
}

::placeholder {
  color: rgb(56, 56, 56);
}

.input-container {
  border: none;
  padding: 4px 0;
  caret-color: #0093E8;
}

.input-container:focus {
  outline: none;
}

.header-center-container .icon {
  width: 26px;
  height: 30px;
}

.location-container,
.restaurant-search-container {
  display: flex;
  align-items: center;
  background-color: #E9ECEE;
  border-radius: 8px;
  padding: 1px 10px;
  margin-left: 8px;
  height: 36px;
}

.restaurant-search-container .input-container {
  width: 270px;

  &::placeholder {
    color: gray;
  }
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0093E8;
  margin-left: -24px;
  border-radius: 0 8px 8px 0px;
  padding: 2px 10px 3px 12px;
  margin-right: 120px;
  transition: background-color 0.05s;

  &:hover {
    background-color: #0266a0;
  }

  &:active {
    background-color: #014268;
  }
}

.header-center-container {
  margin-right: -20px;
}

.header-center-container .dropdown-icon {
  width: 14px;
  height: 12px;
  margin-right: 5px;
}

.input-container {
  font-size: 22px;
  background-color: transparent;
}

.location-container .input-container {
  width: 110px;
  margin: 0 4px;
  padding: 0px -5px;
}

.header-right-container {
  margin-left: 30px;
}

.header-right-container,
.signIn-button {
  display: flex;
}


.icon {
  width: 41px;
}

.location-icon {
  width: 24px;
}

.translateIcon {
  transform: rotate(180deg);
}

.signIn-button {
  padding: 0 20px 0 0;
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
  width: 123px;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.user-button:hover {
  background-color: #eae8e8;
  border-color: #939596;
}

.user-button:active {
  background-color: #e0dcdc;
}

.dropdown-button img {
  width: 20px;
  background-color: transparent;
}

.user-button {
  background-color: white;
  border: 1px solid #E9ECEE;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s;
}

.dropdownInformationControl {
  position: absolute;
  top: 70px;
  margin-right: -615px;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorGrey);
  width: 360px;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 -1px 5px var(--colorGrey);
}


.buttonContainerForDropdown {
  border-bottom: 1px solid var(--colorGrey);
  display: flex;
  justify-content: center;

  & .dropdownLoginButton {
    background-color: #0093E8;
    border: none;
    color: var(--colorWhite);
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
    width: 100%;
    padding: 7px 0;
    border-radius: 7px;
    transition: all 0.1s;
  }
}

.dropdownLoginButton:hover {
  background-color: #0567a0;
}

.dropdownIcon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.itemDropdownContainer {
  margin-top: 15px;
  margin-bottom: 5px;
}

.itemInDropdownContainer {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  align-items: center;
  font-size: 20px;
  cursor: pointer;


  &:hover {
    background-color: var(--colorGrey);
    text-decoration: underline;
  }
}



.searchbarDrop {
  top: 65px;
  margin-right: -5px;
  width: 270px;
  font-size: var(--fontSize);

  & .itemInDropdownContainer:hover {
    text-decoration: none;
  }
}

.searchbarAdjustContainer {
  padding: 15px;
}

.searchbaradjustIcon {
  width: 20px;
  height: 23px;
}

.provinceControlBar {
  height: 500px;
  margin-right: 210px;
  border: 1px solid #DDE0E1;
  width: 425px;
}

.headerDropdown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--colorWhite);
  place-items: center;
  padding: 10px 0px;
  width: 100%;
  border-radius: 5px;
}

.imageSlideGroup {
  display: flex;
  overflow-x: hidden;
}

.slideFrame {
  position: relative;
  padding: 0px 2px 0 0;
  margin-top: 5px;
  transition: all 0.5s;

}

.imageTagText {
  position: absolute;
  color: white;
  top: 0px;
  font-size: 18px;
  width: 110px;
  padding: 5px 0px 20px 5px;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 80%);
}

.dropdownSlideTopdown {
  height: 90%;
  overflow-y: scroll;
  padding: 0 10px 0 0;
}

.slideTopdownText {
  font-size: 20px;
}

.imageInsideProvinceSlide {
  width: 110px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.buttonInDropdownProvince {
  display: flex;
  border-top: 1px solid var(--colorGrey);
  border-bottom: 1px solid var(--colorGrey);
  cursor: pointer;
  align-items: center;
  padding: 10px 9px;
}

.dropdownIcon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.provinceIcon {
  height: 16px;
  margin-right: 2px;
}

.dropdownButton {
  border: none;
  background-color: var(--colorWhite);
  font-size: 20px;
  color: #939596;
  padding: 0 0px 10px 0px;
  width: 100%;
  border-bottom: 1px solid var(--colorGrey);
  cursor: pointer;
}

.dropdownButtonHighLight {
  color: #0070A8;
  font-weight: bold;
  border-bottom: 1px solid #0070A8
}

.tabContent {
  margin-left: 10px;
  font-size: 20px;
}

.adjustMoreforDropdown {
  position: absolute;
  width: 20px;
  top: -9px;
  left: 20px;
}

.sliderButton,
.sliderButtonLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(137, 137, 137);
  background-color: rgb(62, 62, 62);
  opacity: 70%;
  top: 140px;
  right: 10px;
  z-index: 3;
}

.sliderButtonLeft {
  left: 0px;
  transform: rotate(90deg);
}

.imageButtonImage {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}