.header-container {
  height: 80px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E9ECEE;
}

.header-center-container {
  display: flex;
}

::placeholder {
  color: black;
}

.input-container {
  border: none;
}

.input-container:focus {
  outline: none;
}

.header-center-container .icon {
  width: 26px;
  height: 30px;
}

.location-container {
  display: flex;
  align-items: center;
  background-color: #E9ECEE;
  border-radius: 10px;
  padding: 0 10px;
}

.header-center-container .dropdown-icon {
  width: 14px;
  height: 12px;
}

.input-container {
  font-size: 22px;
  background-color: transparent;
}

.location-container .input-container {
  width: 97px;
  margin: 0 4px;
}




/* 
.wongnai-logo {
  margin-right: 50px;
  margin-left: -200px;
}

.container {
  display: flex;
}

.icon {
  width: 20px;
  height: 22px;
}


.input-container {
  font-size: 20px;
  border: none;
  border-radius: 7px;
  background-color: #E9ECEE;
  opacity: 100;
  padding: 3px 6px;
  margin-right: 10px;
}

.location::placeholder {
  color: black;
}

.location .container {
  position: relative;
}

.location .input-container {
  width: 150px;
  padding-left: 20px;
}

.location .icon {
  position: absolute;
}

.dropdown-icon {
  margin-left: 100px;
  width: 15px;
  height: 13px;
}

.restuarant input {
  padding: inherit inherit 20px inherit;
} */