.rightSidebarGroup {
  font-size: 18px;
  height: max-content;
  margin-left: 20px;
}

.contentContainer {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  width: 295px;
  margin-bottom: 15px;
  font-size: 20px;
}

.headText {
  font-size: 24px;
  margin-bottom: 10px;
  color: #3d4245;
}

.groupMapContent {
  background: no-repeat url('../../../public/img/map.jpg');
  display: flex;
  height: 140px;
  width: 265px;
  align-items: center;
  justify-content: center;
}

.reviewGroup span {
  padding-left: 1px;

  & span {
    padding: 0 2px;
  }
}

#mapLocation {
  width: 25px;
  margin-right: 1px;
  margin-left: -5px;
}

#locationButton {
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  display: flex;
  align-items: center;
  font-weight: bold;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 25px;
}

#locationButton:hover {
  background-color: var(--colorBlueHover);
}

.cardRestaurantContainer {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.textContainer {
  margin-top: -6px;
}

.ratingGroup {
  display: flex;
  align-items: center;
}

#imageSize {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  margin-right: 15px;
  object-fit: cover;
}

.headBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageTextContainer {
  position: relative;
}



#imageSizing {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.restaurantPlace,
.restaurantName {
  position: absolute;
  color: var(--colorWhite);
}

.restaurantPlace {
  top: 20px;
  right: 0px;
  padding: 0 10px;
  background-color: rgb(0, 0, 0, 0.6);
}

.restaurantName {
  bottom: 5px;
  padding: 0 10px;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 99.48%);
  width: 100%;
}

.textContainerArticle {
  display: flex;
}


.bookmarkGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}