.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 210px;
  background-color: white;
  margin-top: 25px;
  grid-column: 2;
  box-shadow: 0 0 #EDF0F2;
  border-radius: 10px;
  padding: 15px;

  & p {
    font-size: 24px;
    margin: 5px 0;
    font-weight: bold;
  }

  & input[type=radio],
  input[type=checkbox] {
    accent-color: rgb(49, 155, 217);
  }

  & label {
    font-size: 18px;
    color: rgb(120, 127, 131);
    margin-left: 5px;
  }
}

.container>div {
  display: flex;
  align-items: center;
}

.container:not(.shop-category) {
  margin-top: 10px;
}

#endLine {
  margin-top: 10px;
  opacity: 50%;
}

.textbox:not(:first-child) {
  padding-top: 10px;
}

.textbox input {
  outline: none;
  border: none;
  font-size: 18px;
  width: 200px;
}

.textbox {
  padding: 10px;
  border-radius: 3px;
  border: 0.5px solid #c8ccce;
  margin-top: 10px;
  color: black;

  &:hover {
    border-color: #2DA8ED
  }

  &:focus {
    border: 1px solid red;
  }

  & .icon {
    width: 15px;
    margin-left: 10px;
  }
}

.button-group {
  width: 180px;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #c8ccce;
  border-radius: 5px;
}

#destination-button {
  display: flex;
  width: inherit;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
}

#destination-button:first-child {
  margin-top: 4px;
}

#destination-button:hover {
  background-color: #dbdbdb;
}

#destination-button:active {
  background-color: #2DA8ED;
}

#dropdownIcon {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}