.picture-container {
  display: flex;
  height: max-content;
  width: max-content;
  position: relative;
  background-color: white;
  border-radius: 8px;
  grid-column: 2;
  padding: 10px 16px;
  margin-bottom: 18px;
}

.imageAndCaptionBlock {
  position: relative;
  padding: 0 2px;
}

.imageRestaurantContainer {
  margin-top: 17px;
  padding: 5px;
}

#imageInside {
  border-radius: 5px;
  width: 180px;
  height: 110px;
  margin-top: 5px;
}


#pictureCaption {
  font-size: 18px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 9px;
  left: 10px;

}

#sliderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid rgb(137, 137, 137);
  background-color: rgb(62, 62, 62);
  opacity: 70%;
  position: absolute;
  top: 55px;
  right: 10px;
}

#imageButtonImage {
  width: 12px;
  height: 12px;
  filter: invert(100%);

}