.picture-container {
  display: flex;
  height: max-content;
  position: relative;
  background-color: white;
  border-radius: 8px;
  grid-column: 2;
  padding: 10px 16px;
  margin-bottom: 18px;
  width: 954px;

}

.slideContainer {

  display: flex;
  overflow-x: hidden;
  width: 916px;
}

.imageAndCaptionBlock {
  transition: all 1s;
  position: relative;
  padding: 0 2px;
}

.imageRestaurantContainer {
  margin-top: 17px;
  padding: 5px;
}

#imageInside {
  border-radius: 5px;
  width: 180px;
  height: 110px;
  margin-top: 5px;
}


#pictureCaption {
  font-size: 18px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 9px;
  left: 10px;
  z-index: 1;

}

#sliderButton,
#sliderButtonLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid rgb(137, 137, 137);
  background-color: rgb(62, 62, 62);
  opacity: 70%;
  position: absolute;
  top: 55px;
  right: 10px;
}

#sliderButtonLeft {
  position: absolute;
  top: 55px;
  left: 10px;
  transform: rotate(90deg);
}

#imageButtonImage {
  width: 12px;
  height: 12px;
  filter: invert(100%);

}

#shadow {
  background: linear-gradient(rgba(0, 0, 0, 0.7) 99.48%, rgba(0, 0, 0, 0));
  width: 180px;
  height: 25%;
  position: absolute;
  top: 4%;
  border-radius: 5px 5px 0 0;
  z-index: 0;
  opacity: 30%;
}