@font-face {
  font-family: 'DBHeavent';
  src: url('../public/font/DBHeavent.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBHeavent';
  src: url('../public/font/DBHeaventBd.ttf') format('truetype');
  font-weight: bold;
  font-style: oblique;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: DBHeavent;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


:root {
  --fontsize: 16px;
  --colorBlue: #0093E8;
  --colorBlueHover: #027ec7;
  --colorWhite: #ffff;
  --colorGrey: #EDF0F2
}

body {
  background-color: var(--colorGrey);
}

.wongnai-logo {
  height: 48px;
  width: 118px;
}