@font-face {
  font-family: 'DBHeavent';
  src: url('../public/font/DBHeavent.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBHeavent';
  src: url('../public/font/DBHeaventBd.ttf') format('truetype');
  font-weight: bold;
  font-style: oblique;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: DBHeavent;
  margin: 0;
  padding: 0;
}

:root {
  --fontsize: 16px;
}