@font-face {
  font-family: 'Noboto';
  src: url('../public/font/Noboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noboto';
  src: url('../public/font/Noboto-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: oblique;
}

@font-face {
  font-family: 'Noboto';
  src: url('../public/font/Noboto-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: oblique;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: Noboto;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


:root {
  --fontsize: 16px;
  --colorBlue: #0093E8;
  --colorBlueHover: #027ec7;
  --colorWhite: #ffff;
  --colorGrey: #EDF0F2;
  --fontNormal: normal;
  --fontMedium: bold;
  --fontBold: bolder;
}

body {
  background-color: var(--colorGrey);
}

.wongnai-logo {
  height: 48px;
  width: 118px;
}

.boldText {
  font-weight: bold;
  color: black;
}

.normalText {
  color: #787F83;
}

.blackText {
  color: black;
}

.boldWhiteText {
  color: var(--colorWhite);
  font-weight: bold;
}

.greyText {
  color: #3D4245;
}