footer {
  margin-top: 20px;
  background-color: var(--colorGrey);
  border-top: 2px solid #DEE2E4;
  display: grid;
  grid-template-columns: 270px 1fr 270px;
  width: 100vw;
}

.footerContent {
  margin-top: 20px;
  grid-column: 2;
}

.informationContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 18px;
}

.itemIndsideTextGroup {
  width: 200px;
}

.wongnaiCopyRightGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 18px;
}

#buttonText {
  cursor: pointer;
}

.advertisementApplicationContainer {
  display: flex;
}

.insideAboutWongnaiFooterText {
  padding: 2px 0 2px;
  width: 70%;
}

hr {
  margin: 10px 0;
}

.applicationContainer {
  display: flex;
  margin-right: 40px;
  align-items: center;
  margin-bottom: 10px;

  & a {
    padding-right: 5px;
  }
}

.headAppText {
  font-size: 20px;
}

#applicationAppset {
  width: 140px;
  border: 1px solid var(--colorGrey);
}

#applicationAppSocialSet {
  width: 40px;
  margin-right: 10px;
}