.end {
  border: 10px solid var(--colorWhite);
  z-index: 2;
}

footer {
  margin-top: -12px;
  background-color: var(--colorGrey);
  border-top: 2px solid #DEE2E4;
  display: flex;
  justify-content: center;
}

.logoContainer {
  margin-left: -2px;
}

.footerContent {
  margin-top: 30px;
  width: 980px
}

.informationContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: 10px;
}

.itemIndsideTextGroup {
  width: 200px;
}

.wongnaiCopyRightGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 20px;
}

.buttonText {
  cursor: pointer;
}

.advertisementApplicationContainer {
  display: flex;
}

.insideAboutWongnaiFooterText {
  padding: 2px 0 2px;
  width: 60%;
}

hr {
  margin: 10px 0;
}

.applicationContainer {
  display: flex;
  margin-right: 60px;
  align-items: center;
  margin-bottom: 10px;

  & a {
    padding-right: 5px;
  }
}

.headAppText {
  font-size: 20px;
}

#applicationAppset {
  width: 133px;
  height: 40px;
  outline: 1px solid #C0C1C1;
  border-radius: 8px;
  object-fit: cover;

}

#applicationAppSocialSet {
  width: 32px;
  margin-right: 10px;
}